# Copy this file to .env and fill with your real values
WIFI_SSID=your_wifi_name
WIFI_PASSWORD=your_wifi_password

# Server example from https://github.com/talyguryn/my-api
# https://.../api/youtube/channel?channel=%40talyguryn
API_URL=
